.white-line{
    background-color: #fff;
    width: 180px;
    height: 2px;
    margin: 1rem 0;
}

.MainApp_Todos{
    height: 50%;
}

.MainApp_Todos-tab{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.MainApp_Todos-tab h4{
    color: #fff;
}

.MainApp_Todos-tab-card{
    padding: 2rem 0 5rem 1rem;
    color: #fff;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
}

.MainApp_Todos-tab-card label{
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}