.MainApp_AddInput{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10%;
}

.MainApp_AddInput div{
    margin: 0.5rem 0;
}

.MainApp_AddInput-addTitle{
    font-weight: 700;
}
